.idea
.python-version
*~
scripts/.DS_Store
scripts/test-data/.DS_Store
scripts/test-data/AZ.0.json
scripts/test-data/AZ.1.json
scripts/test-data/AZ.2.json
scripts/test-data/AZ.3.json
scripts/test-data/AZ.4.json
scripts/test-data/AZ.5.json
scripts/test-data/AZ.6.json
scripts/test-data/AZ.7.json
scripts/test-data/CA.0.json
scripts/test-data/CA.1.json
scripts/test-data/CA.2.json
scripts/test-data/CA.3.json
scripts/test-data/CA.4.json
scripts/test-data/CA.5.json
scripts/test-data/CA.6.json
scripts/test-data/CA.7.json
scripts/test-data/CO.0.json
scripts/test-data/CO.1.json
scripts/test-data/CO.2.json
scripts/test-data/CO.3.json
scripts/test-data/CO.4.json
